* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    width: 100%;
    min-height: 100vh;

    background-color: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.app-body {
    flex: 1;

    display: flex;
    min-height: 0;
}